<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START PAGE HEADER WRAPPER -->
            <!-- START HEADER -->
            <div class="header m-b-40">
                <!-- START MOBILE CONTROLS -->
                <!-- LEFT SIDE -->
                <div class="col-xs-2 full-height visible-sm visible-xs">
                    <!-- START ACTION BAR -->
                    <div class="sm-action-bar">
                        <img src="img/logo_mobile.png" alt="logo" data-src="img/logo_mobile.png" data-src-retina="img/logo_mobile_2x.png" width="43" height="41">
                    </div>
                    <!-- END ACTION BAR -->
                </div>
                <!-- RIGHT SIDE -->
                <div class="col-xs-8 full-height visible-sm visible-xs">
                    <!-- START ACTION BAR -->
                    <h4 class="text-center text-white m-b-0 m-t-10">RICARDO</h4>
                    <p class="text-center text-white fs-12">HISTORIAL</p>
                    <!-- END ACTION BAR -->
                </div>
                <!-- END MOBILE CONTROLS -->

                <div class="container hidden-sm hidden-xs container-fixed-lg">
                    <div class="pull-left sm-table full-height col-sm-2">
                        <div class="header-inner">
                            <img src="img/logo.png" alt="logo" data-src="img/logo.png" data-src-retina="img/logo_2x.png" width="145" height="56">
                        </div>
                    </div>

                    <div class="col-md-8 center-margin">
                        <h4 class="text-center text-white m-b-0 m-t-20">RICARDO</h4>
                        <p class="text-center text-white fs-16">HISTORIAL</p>
                    </div>
                </div>
            </div>
            <!-- END HEADER -->
            <!-- END PAGE HEADER WRAPPER -->

            <!-- START CONTAINER FLUID -->
            <div class="container container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <!--<div class="panel">-->

                    <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary" role="tablist">
                        <li class="active"><a href="#tab2Record" data-toggle="tab" role="tab">Historial</a></li>
                        <li><a id="tabRanking" href="#tab2Ranking" data-toggle="tab" role="tab">Ranking</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane row active" id="tab2Record">
                            <!-- START FILTER FORM PANEL -->
                            <div class="panel-default no-border">
                                <div class="panel-heading">
                                    <div class="panel-title fs-12">
                                        FILTRAR POR:
                                    </div>
                                </div>
                                <div class="p-t-15">
                                    <form id="search-form" method="GET" role="form" class="row" action="/search">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>NOMBRE</label>
                                                <input name="name" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>APELLIDO</label>
                                                <input name="surname" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="league">LIGA</label>
                                                <br>
                                                <select name="league" id="league" class="form-control">
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="Pernod Ricard España">Pernod Ricard España</option>
                                                    <option value="Pernod Ricard Winemakers">Pernod Ricard Winemakers</option>
                                                    <option value="Ricardo en América">Ricardo en América</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="category">CATEGORÍA</label>
                                                <br>
                                                <select name="category" id="category" class="form-control">
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="Cuidar ambiente de trabajo">Cuidar ambiente de trabajo</option>
                                                    <option value="Empatía y escucha de trabajo">Empatía y escucha de trabajo</option>
                                                    <option value="Empujar la innovación">Empujar la innovación</option>
                                                    <option value="Gestión de equipo">Gestión de equipo</option>
                                                    <option value="Identificar y desarrollar el talento">Identificar y desarrollar el talento</option>
                                                    <option value="Proactivo">Proactivo</option>
                                                    <option value="Reconocimiento y feedback">Reconocimiento y feedback</option>
                                                    <option value="Sorpresa">Sorpresa</option>
                                                    <option value="Traducir visión de la compañía">Traducir visión de la compañía</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>FECHA</label>

                                                <div id="datepicker-component" class="input-group date">
                                                    <input name="date" type="text" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="time">HORA</label>
                                                <br>
                                                <select name="time" id="time" class="form-control">
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="00:00">00:00</option>
                                                    <option value="00:30">00:30</option>
                                                    <option value="01:00">01:00</option>
                                                    <option value="01:30">01:30</option>
                                                    <option value="02:00">02:00</option>
                                                    <option value="02:30">02:30</option>
                                                    <option value="03:00">03:00</option>
                                                    <option value="03:30">03:30</option>
                                                    <option value="04:00">04:00</option>
                                                    <option value="04:30">04:30</option>
                                                    <option value="05:00">05:00</option>
                                                    <option value="05:30">05:30</option>
                                                    <option value="06:00">06:00</option>
                                                    <option value="06:30">06:30</option>
                                                    <option value="07:00">07:00</option>
                                                    <option value="07:30">07:30</option>
                                                    <option value="08:00">08:00</option>
                                                    <option value="08:30">08:30</option>
                                                    <option value="09:00">09:00</option>
                                                    <option value="09:30">09:30</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="10:30">10:30</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="11:30">11:30</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="12:30">12:30</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="13:30">13:30</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="14:30">14:30</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="15:30">15:30</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="16:30">16:30</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="17:30">17:30</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="18:30">18:30</option>
                                                    <option value="19:00">19:00</option>
                                                    <option value="19:30">19:30</option>
                                                    <option value="20:00">20:00</option>
                                                    <option value="20:30">20:30</option>
                                                    <option value="21:00">21:00</option>
                                                    <option value="21:30">21:30</option>
                                                    <option value="22:00">22:00</option>
                                                    <option value="22:30">22:30</option>
                                                    <option value="23:00">23:00</option>
                                                    <option value="23:30">23:30</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="day">DÍA</label>
                                                <br>
                                                <select name="day" id="day" class="form-control">
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3 m-t-25 text-right">
                                            <button id="btn-buscar" type="submit" class="btn btn-primary btn-cons">BUSCAR</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END PANEL -->

                            <div class="panel-default no-border m-t-80">
                                <div class="panel-heading">
                                    <div class="panel-title fs-12">
                                        RESULTADOS:
                                    </div>
                                </div>

                                <div class="m-t-30 p-b-30">
                                    <table class="table table-hover" id="recordTable">
                                        <thead>
                                            <tr>
                                                <th style="width:12%">JUGADOR</th>
                                                <th style="width:8%">LIGA</th>
                                                <th style="width:8%">CATEGORÍA</th>
                                                <th style="width:20%">DESCRIPCIÓN</th>
                                                <th style="width:6%">DESEMPEÑO</th>
                                                <th style="width:6%">COMPROMISO</th>
                                                <th style="width:4%">DÍA</th>
                                                <th style="width:4%">HORA</th>
                                                <th style="width:6%">FECHA</th>
                                                <th style="width:6%">RESPUESTA</th>
                                                <th style="width:10%">EMAIL</th>
                                                <th style="width:10%">CONTRASEÑA</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <!-- END PANEL -->
                        </div>

                        <div class="tab-pane" id="tab2Ranking">
                            <!-- START FILTER FORM PANEL -->
                            <div class="panel-default no-border row">
                                <div class="panel-heading">
                                    <div class="panel-title fs-12">
                                        FILTRAR POR:
                                    </div>
                                </div>
                                <div class="p-t-15">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="league">LIGA</label>
                                            <br>
                                            <select name="league-ranking" id="league-ranking" class="form-control">
                                                <option value="">Seleccione una opción</option>
                                                <option value="Pernod Ricard España">Pernod Ricard España</option>
                                                <option value="Pernod Ricard Winemakers">Pernod Ricard Winemakers</option>
                                                <option value="Ricardo en América">Ricardo en América</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- END PANEL -->
                            <div class="panel-default no-border row">
                                <div class="panel-heading">
                                    <div class="panel-title fs-12">
                                        RANKING:
                                    </div>
                                </div>

                                <div class="m-t-30 p-b-30">
                                    <table class="table table-hover" id="rankingTable">
                                        <thead>
                                            <tr>
                                                <th style="width:5%">POSICIÓN</th>
                                                <th style="width:18%">JUGADOR</th>
                                                <th style="width:10%">LIGA</th>
                                                <th style="width:8%">FECHA</th>
                                                <th style="width:8%">PUNTOS</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        </tbody>
                                    </table>

                                </div>
                            <!-- END PANEL -->
                            </div>
                        </div>
                </div>
                <!-- END PLACE PAGE CONTENT HERE -->
            <!--</div>-->
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->

</div>