<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START PAGE HEADER WRAPPER -->
            <!-- START HEADER -->
            <div class="header m-b-40">
                <!-- START MOBILE CONTROLS -->
                <!-- LEFT SIDE -->
                <div class="col-xs-2 full-height visible-sm visible-xs">
                    <!-- START ACTION BAR -->
                    <div class="sm-action-bar">
                        <img src="img/logo_mobile.png" alt="logo" data-src="img/logo_mobile.png" data-src-retina="img/logo_mobile_2x.png" width="43" height="41">
                    </div>
                    <!-- END ACTION BAR -->
                </div>
                <!-- RIGHT SIDE -->
                <div class="col-xs-8 full-height visible-sm visible-xs">
                    <!-- START ACTION BAR -->
                    <h4 class="text-center text-white m-b-0 m-t-10">RICARDO</h4>
                    <p class="text-center text-white fs-12">HISTORIAL</p>
                    <!-- END ACTION BAR -->
                </div>
                <!-- END MOBILE CONTROLS -->

                <div class="container hidden-sm hidden-xs container-fixed-lg">
                    <div class="pull-left sm-table full-height col-sm-2">
                        <div class="header-inner">
                            <img src="img/logo.png" alt="logo" data-src="img/logo.png" data-src-retina="img/logo_2x.png" width="145" height="56">
                        </div>
                    </div>

                    <div class="col-md-8 center-margin">
                        <h4 class="text-center text-white m-b-0 m-t-20">RICARDO</h4>
                        <p class="text-center text-white fs-16">HISTORIAL</p>
                    </div>
                </div>
            </div>
            <!-- END HEADER -->
            <!-- END PAGE HEADER WRAPPER -->

            <!-- START CONTAINER FLUID -->
            <div class="container container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <!--<div class="panel">-->

                    <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary" role="tablist">
                        <li class="active"><a href="#tab2Record" data-toggle="tab" role="tab">Historial</a></li>
                        <li><a id="tabRanking" href="#tab2Ranking" data-toggle="tab" role="tab">Ranking</a></li>
                        <li><a id="tabUsers" href="#tab2Users" data-toggle="tab" role="tab">Usuarios</a></li>
                        <li><a id="tabLeagues" href="#tab2Leagues" data-toggle="tab" role="tab">Ligas</a></li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane row active" id="tab2Record">
                          <%include partials/record.ejs %>
                        </div>

                        <div class="tab-pane" id="tab2Ranking">
                          <%include partials/ranking.ejs %>
                        </div>

                        <div class="tab-pane" id="tab2Users">
                          <%include partials/users.ejs %>
                        </div>

                        <div class="tab-pane" id="tab2Leagues">
                          <%include partials/leagues.ejs %>
                        </div>

                    </div>
                <!-- END PLACE PAGE CONTENT HERE -->
            <!--</div>-->
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->

</div>
